Makefile
autom4te.cache
*.kdevelop.pcs
*.kdevses
config.h
config.log
config.status
.deps
.libs
*.la
testcelt
libtool
stamp-h1
*.sw
*.o
*.lo
*~
tests/*test
tools/celtdec
tools/celtenc
celt.pc
libcelt.spec
libcelt/dump_modes
