Makefile
autom4te.cache
*.kdevelop.pcs
*.kdevses
config.h
config.log
config.status
.deps
.libs
*.la
testcelt
libtool
stamp-h1
*.sw
*.o
*.lo
*~
tests/*test
tools/celtdec
tools/celtenc
celt.pc
celt.spec
celt/dump_modes/dump_modes
*.vcxproj.user
opus.sdf
opus.suo
version.h
celt/Debug
celt/Release
celt/x64
silk/Debug
silk/Release
silk/x64
silk/fixed/Debug
silk/fixed/Release
silk/fixed/x64
silk/float/Debug
silk/float/Release
silk/float/x64
src/Debug
src/Release
src/x64
